* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #485563, #29323c);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin: 20px auto;
}

#task-header{
  text-align: center;
}

.todo-item {
  display: flex;
  justify-content: space-between;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid #29323c;
}

.task-list {
  margin-top: 30px;
}

.my-tasks{
  /* display: flex;
  justify-content: space-between; */
  padding: .75rem 0.7rem;
  color: #29323c;
  /* font-size: 18px; */
  font-weight: 600;
}

.my-tasks p, .my-tasks span {
  text-transform: capitalize;
  margin-bottom: 0.1rem;
}

.my-tasks span {
  font-weight: 600;
}

.select-all {
  padding: 1.5rem 1.7rem;
}

#addTask {
  font-size: 24px;
  text-align: center;
  /* background-color: white; */
  /* color: #29323c; */
}

button#add-todo:focus, button#delete:focus{
  box-shadow: none;
}